@use '../content/source/Variables' as v;

#mainSlider {
    position: relative;

    main {
        img {
            border-radius: 1em;
            position: absolute;
            top: 0;
            opacity: 0;
            transition: .2s;

            &.active {
               opacity: 100; 
               position: static;
            }
        }
    }
    a {
        position: absolute;
        left: 1em;
        bottom: 1em;
        background-color: white;
        padding: .3em 1em;
        border-radius: 1.5em;
        font-weight: bold;
        font-size: 1.3em;
        cursor: pointer;
    }
    button {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: transparent;
        --radius: .5em;

        &:hover::before {
            background-color: #3e3e3e58;
        }
        &::before {
            @include v.fontAwsome("f105", 900);
            background-color: #3e3e3e38;
            color: white;
            padding: 0.9em 0.7em;
            border-radius: var(--radius) 0 0 var(--radius);
            font-size: 2em;
        }
        &#left {
            left: 0;
            &::before {
                content: '\f104';
                border-radius: 0 var(--radius) var(--radius) 0 ;
            }
        }
    }
    .dots {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 1em;
        display: flex;
        justify-content: center;
        gap: 0.4em;
        direction: ltr;

        span {
            background-color: rgba(29, 29, 29, .5);
            border-radius: 50%;
            display: block;
            @include v.square(1em);
            cursor: pointer;
            transition: .2s;

            &:hover, &.active {
                background-color: white; 
            }
        }
    }
}